<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.style">
    <title>HBS layout</title>
</head>

<body>
    {{!-- <h1>Ironhacker be like</h1> --}}

    {{!-- <img src="https://media.giphy.com/media/l0MYEqEzwMWFCg8rm/giphy.gif"> --}}
    {{{body}}}
</body>

</html>