<section class="students">
    <ul>
        {{#each studentNames}}
        <li>{{ this }} </li>
        {{/each}}
    </ul>
</section>
<p>First Student: {{ studentNames.[0]}} </p>
<p>Second Student: {{ studentNames.[1]}} </p>